/* <-- uncoment styles by removing these --> */


/* completely and permanently hide youtube interface */
/* .ytp-chrome-top, .ytp-gradient-top, .ytp-chrome-bottom, .ytp-gradient-bottom {
    display: none;
} */


/* unintrusive dropshadow */
/* .ytp-gradient-bottom.ytp-gradient-bottom.ytp-gradient-bottom {
    height: 50px !important;
	padding-top: 0px;
	opacity: 0.3;
	box-shadow: black 0px 11px 50px;
} */


/* remove scrubber button */
/* .ytp-scrubber-button {
    display: none !important;
} */


/* remove miniplayer button */
/* .ytp-miniplayer-button {
    display: none !important;
} */


/* remove bottom dropshadow */
/* .ytp-gradient-bottom {
    display: none !important;
} */


/* remove progress bar */
/* .ytp-progress-bar-container {
    display: none !important;
} */


/* remove previous button */
/* .ytp-prev-button {
    display: none !important;
} */


/* remove play button */
/* .ytp-play-button {
    display: none !important;
} */


/* remove next button */
/* .ytp-next-button {
    display: none !important;
} */


/* remove volume button */
/* .ytp-volume-area {
    display: none !important;
} */


/* remove volume adjust panel */
/* .ytp-volume-panel {
    display: none !important;
} */


/* remove video time display */
/* .ytp-time-display {
    display: none !important;
} */


/* remove chapter button */
/* .ytp-chapter-container {
    display: none !important;
} */


/* remove scroll for details button */
/* .ytp-fullerscreen-edu-button {
    display: none !important;
} */


/* remove autonav toggle */
/* .ytp-autonav-toggle {
    display: none !important;
} */


/* remove subtitles button */
/* .ytp-subtitles-button {
    display: none !important;
} */


/* remove settings button */
/* .ytp-settings-button {
    display: none !important;
} */


/* remove picture in picture button */
/* .ytp-pip-button {
    display: none !important;
} */


/* remove size button */
/* .ytp-size-button {
    display: none !important;
} */


/* remove play on tv button */
/* .ytp-remote-button {
    display: none !important;
} */


/* remove fullscreen button */
/* .ytp-fullscreen-button {
    display: none !important;
} */





/* fullscreen topbar setting */

/* remove top dropshadow */
/* .ytp-gradient-top {
    display: none !important;
} */


/* remove title */
/* .ytp-title {
    display: none !important;
} */


/* remove search button */
/* .ytp-search-button {
    display: none !important;
} */


/* remove watch later button */
/* .ytp-watch-later-button {
    display: none !important;
} */


/* remove share button */
/* .ytp-share-button {
    display: none !important;
} */


/* remove copy link button */
/* .ytp-copylink-button {
    display: none !important;
} */


/* remove cards button */
/* .ytp-cards-button {
    display: none !important;
} */


/* remove cards teaser */
/* .ytp-cards-teaser {
    display: none !important;
} */


/* remove overflow button */
/* .ytp-overflow-button {
    display: none !important;
} */